{% extends "main.html" %}
{% block content %}
<div class="bg-dark">
    <div class="container">
        <div class="row py-2">
            <div class="col-6">
                <a href="/">
                    <h2 class="text-white mb-0">Records Manager</h1>
                </a>
            </div>
            <div class="col-6 text-end mt-1">
                <div class="text-secondary">Welcome <b class="text-white">{{ current_user_name }}</b> <a
                        class="btn btn-secondary ms-4 btn-sm" href="/logoutuser">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <h2 class="">Add Kid</h1>
        </div>
    </div>
</div>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="form-row container-style mg-top">
            <div class="form-group col-xs-12 col-md-6 pb-3">
                <label for="inputEmail4">Name</label>
                <input type="text" class="form-control" name="kid_name" required value="{{kid_name}}" id="inputEmail4"
                    placeholder="Name">
            </div>
            <div class="form-group col-xs-12 col-md-6 pb-3">
                <label for="inputEmail4">Age</label>
                <input type="text" class="form-control" name="kid_age" required value="{{kid_age}}" id="inputEmail4"
                    placeholder="Age">
            </div>
            <div class="form-group col-xs-12 col-md-6 pb-3">
                <label for="inputEmail4">Parent Phone</label>
                <input type="text" class="form-control" required name="parent_phone" value="{{parent_phone}}"
                    id="inputEmail4" placeholder="Parent conact number">
            </div>
            <div class="form-group col-xs-12 col-md-6 pb-3">
                <label for="inputPassword4">Parent Email</label>
                <input type="email" class="form-control" required name="parent_email" id="inputPassword4"
                    placeholder="Parent email">
            </div>

            <div class="form-group col-xs-12 col-md-6 pb-3 text-end">
                <a href="/" class="btn button btn-secondary">Cancel</a>
                <button type="submit" class="btn button btn-dark">Add child</button>
            </div>
        </div>
    </form>
</div>







{% if messages %}
{% for message in messages %}
<div class="modal show" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {% if message.tags == 'error' %}
            <div class="alert alert-danger">
                {{message}}
            </div>
            {% else %}
            <div class="alert alert-success">
                {{message}}
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var myModal = new bootstrap.Modal(document.getElementById('errorModal'))
        myModal.show()
    }, false);
</script>

{% endfor %}
{% endif %}
{% endblock %}