{% extends "main.html" %}
{% block content %}
<div class="bg-dark">
    <div class="container">
        <div class="row py-2">
            <div class="col-6">
                <a href="/">
                    <h2 class="text-white mb-0">Records Manager</h1>
                </a>
            </div>
            <div class="col-6 text-end">
                <a class="btn btn-primary" href="/logoutuser">Logout</a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <h2 class="">Add Student</h1>
        </div>
    </div>
</div>
<div class="container">
    <form method="post">
        {% csrf_token %}
        <div class="form-row container-style mg-top">
            <div class="form-group col-xs-12 col-md-6 pb-3">
                <label for="inputEmail4">Kid name</label>
                <input type="text" class="form-control" name="kid_name" required value="{{kid_name}}" id="inputEmail4"
                    placeholder="kid name">
            </div>
            <div class="form-group col-xs-12 col-md-6 pb-3">
                <label for="inputEmail4">Kid age</label>
                <input type="text" class="form-control" name="kid_age" required value="{{kid_age}}" id="inputEmail4"
                    placeholder="Kid age">
            </div>
            <div class="form-group col-xs-12 col-md-6 pb-3">
                <label for="inputEmail4">Parent contact number</label>
                <input type="text" class="form-control" required name="parent_phone" value="{{parent_phone}}"
                    id="inputEmail4" placeholder="Parent conact number">
            </div>
            <div class="form-group col-xs-12 col-md-6 pb-3">
                <label for="inputPassword4">Parent email</label>
                <input type="email" class="form-control" required name="parent_email" id="inputPassword4"
                    placeholder="Parent email">
            </div>

            <div class="form-group col-xs-12 col-md-6 pb-3">
                <button type="submit" class="btn button btn-dark">Add child</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}