{% extends "main.html" %}
{% block content %}
<style>
    @media only screen and (max-width: 768px) {
        .header-button {
            margin-bottom: 12px;
        }

        .header-button {
            margin-bottom: 12px;
        }
    }
</style>

<div class="bg-dark">
    <div class="container">
        <div class="row py-2">
            <div class="col-6">
                <a href="/">
                    <h2 class="text-white mb-0">Records Manager</h1>
                </a>
            </div>
            <div class="col-6 text-end">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit-kid">
                    Edit kid info
                </button>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-new-meal">
                    Add New Meal
                </button>
                <a class="btn btn-primary" href="/logoutuser">Logout</a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        {% if meal_info %}
        {% for meal in meal_info %}
        <div class="card col-xs-12 col-md-4 ">
            <img src="{{ meal.image_url }}" class="card-img-top" alt="...">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li> created_on : <p class="card-text">{{ meal.created_on }}</p>
                    </li>
                    <li>updated_on : <p class="card-text">{{ meal.updated_on }}</p>
                    </li>
                    <li> approved_by :<p class="card-text">{{ meal.approved_by }}</p>
                    </li>
                    <li>is_approved :<p class="card-text">{{ meal.is_approved }}</p>
                    </li>
                    <li>image_url :<p class="card-text"><a href="{{ meal.image_url }}" target="blank">img_url</a> </p>
                    </li>
                    <li>food_group :<p class="card-text">{{ meal.food_group }}</p>
                    </li>
                </ul>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
















<!-- Modal for adding new meal-->
<div class="modal fade" id="add-new-meal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add new meal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/add-meal/{{ kid_id }}" method="post">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="inputPassword3" class="col-sm-2 col-form-label">Image Url</label>
                        <div class="col-sm-10">
                            <input type="text" required class="form-control" name="img_url" id="inputPassword3">
                        </div>
                    </div>
                    <fieldset class="row mb-3">
                        <legend class="col-form-label col-sm-2 pt-0">Group</legend>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="group" id="group1" value="Veg"
                                    checked>
                                <label class="form-check-label" for="group1">
                                    Veg
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="group" id="group2" value="Fruit">
                                <label class="form-check-label" for="group2">
                                    Fruit
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="group" id="group3" value="Grain">
                                <label class="form-check-label" for="group3">
                                    Grain
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="group" id="group2" value="Protien">
                                <label class="form-check-label" for="group2">
                                    Protien
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="group" id="group2" value="Dairy">
                                <label class="form-check-label" for="group2">
                                    Dairy
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="group" id="group2"
                                    value="Confectionery">
                                <label class="form-check-label" for="group2">
                                    Confectionery
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="group" id="group2" value="Unknown">
                                <label class="form-check-label" for="group2">
                                    Unknown
                                </label>
                            </div>
                        </div>
                    </fieldset>

                    <div class="modal-footer">
                        <button type="button" class="btn button btn-primary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn button btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- modal for edit kid info -->
<div class="modal fade" id="edit-kid" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Kid Info</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/edit-kid-info/{{ kid_id }}" method="post">
                    {% csrf_token %}
                    <div class="form-row container-style mg-top">
                        <div class="form-group col-12 pb-3">
                            <label for="inputEmail4">Kid name</label>
                            <input type="text" class="form-control" name="kid_name" required value="{{kid_name}}"
                                id="inputEmail4" placeholder="kid name">
                        </div>
                        <div class="form-group col-12 pb-3">
                            <label for="inputEmail4">Kid age</label>
                            <input type="text" class="form-control" name="kid_age" required value="{{kid_age}}"
                                id="inputEmail4" placeholder="Kid age">
                        </div>
                        <div class="form-group col-12    pb-3">
                            <label for="inputEmail4">Parent contact number</label>
                            <input type="text" class="form-control" required name="parent_phone"
                                value="{{parent_phone}}" id="inputEmail4" placeholder="Parent conact number">
                        </div>
                        <div class="form-group col-12    pb-3">
                            <label for="inputPassword4">Parent email</label>
                            <input type="email" class="form-control" required value="{{ parent_email }}"
                                name="parent_email" id="inputPassword4" placeholder="Parent email">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn button btn-primary">save changes</button>
                        <button type="button" class="btn btn-primary button" data-bs-dismiss="modal">Close</button>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>




{% if messages %}
{% for message in messages %}
<div class="modal show" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="alert alert-{% 'danger' if message.tags == 'error' else 'success' }}">
                {{message}}
            </div>
        </div>
    </div>
</div>

{% endfor %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var myModal = new bootstrap.Modal(document.getElementById('errorModal'))
        myModal.show()
    }, false);
</script>
{% endif %}
{% endblock %}