{% extends "main.html" %}
{% block content %}
<div class="container">
    <div class="row mg-top">
        <div class="col">
            <h1>login</h1>
        </div>
    </div>
    <div class="row container-style mg-top">
        <form method="POST">

            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="text" name="username" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn a btn-dark">Submit</button>


        </form>
    </div>
</div>


{% if messages %}
{% for message in messages %}
<div class="modal show" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="alert alert-danger">
                {{message}}
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var myModal = new bootstrap.Modal(document.getElementById('errorModal'))
        myModal.show()
    }, false);
</script>
{% endfor %}
{% endif %}
{% endblock %}