{% extends "main.html" %}
{% block content %}
<div class="container top-margin border-radius-1 bg-grey mx-auto p-5" style="width: 600px;">
    <div class="row">
        <div class="col-12 mt-4">
            <h2 class="">SignUp</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-row container-style mg-top">
                <div class="form-group col pb-3">
                    <label for="inputEmail4">Username</label>
                    <input type="text" name="user_name" value="{{user_name}}" required class="form-control"
                        id="inputName4">
                </div>
                <div class="form-group col pb-3">
                    <label for="inputEmail4">First Name</label>
                    <input type="text" class="form-control" name="first_name" required value="{{first_name}}"
                        id="inputEmail4" name">
                </div>
                <div class="form-group col pb-3">
                    <label for="inputEmail4">Last Name</label>
                    <input type="text" class="form-control" name="last_name" required value="{{last_name}}"
                        id="inputEmail4" name">
                </div>
                <div class="form-group col pb-3">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" required name="user_email" value="{{user_email}}"
                        id="inputEmail4">
                </div>
                <div class="form-group col pb-3">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" required name="user_password" id="inputPassword4">
                </div>
                <div class="form-group col pb-3">
                    <label for="inputPassword4">Confirm Password</label>
                    <input type="password" class="form-control" required id="inputPassword4" name="confirm_password">
                </div>
                <div class="form-group col pb-3">
                    <button type="submit" class="btn button btn-dark">Sign Up</button>
                    <a href="/loginuser" class="btn btn-link">Already have an account?</a>
                </div>
            </div>
        </form>
    </div>



    {% if messages %}
    {% for message in messages %}
    <div class="modal show" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {% if message.tags == 'error' %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
                {% else %}
                <div class="alert alert-success">
                    {{message}}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var myModal = new bootstrap.Modal(document.getElementById('errorModal'))
            myModal.show()
        }, false);
    </script>
    {% endfor %}
    {% endif %}
    {% endblock %}