{% extends "main.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <h2 class="">SignUp</h1>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="form-row container-style mg-top">
                <div class="form-group col-xs-12 col-md-6 pb-3">
                    <label for="inputEmail4">username</label>
                    <input type="text" name="user_name" value="{{user_name}}" required class="form-control"
                        id="inputName4" placeholder="Name">
                </div>
                <div class="form-group col-xs-12 col-md-6 pb-3">
                    <label for="inputEmail4">Firstname</label>
                    <input type="text" class="form-control" name="first_name" required value="{{first_name}}"
                        id="inputEmail4" placeholder="First name">
                </div>
                <div class="form-group col-xs-12 col-md-6 pb-3">
                    <label for="inputEmail4">Last name</label>
                    <input type="text" class="form-control" name="last_name" required value="{{last_name}}"
                        id="inputEmail4" placeholder="Last name">
                </div>
                <div class="form-group col-xs-12 col-md-6 pb-3">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" required name="user_email" value="{{user_email}}"
                        id="inputEmail4" placeholder="Email">
                </div>
                <div class="form-group col-xs-12 col-md-6 pb-3">
                    <label for="inputPassword4">Password</label>
                    <input type="password" class="form-control" required name="user_password" id="inputPassword4"
                        placeholder="Password">
                </div>
                <div class="form-group col-xs-12 col-md-6 pb-3">
                    <label for="inputPassword4">confirm Password</label>
                    <input type="password" class="form-control" required id="inputPassword4" name="confirm_password"
                        placeholder="Re-type Password">
                </div>
                <div class="form-group col-xs-12 col-md-6 pb-3">
                    <button type="submit" class="btn button btn-dark">Sign in</button>
                </div>
            </div>
        </form>
    </div>



    {% if messages %}
    {% for message in messages %}
    <div class="modal show" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {% if message.tags == 'error' %}
                <div class="alert alert-danger">
                    {{message}}
                </div>
                {% else %}
                <div class="alert alert-success">
                    {{message}}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var myModal = new bootstrap.Modal(document.getElementById('errorModal'))
            myModal.show()
        }, false);
    </script>
    {% endfor %}
    {% endif %}
    {% endblock %}