
  
body{
    font-family: 'Raleway', sans-serif;
    
}

.bg-grey{
    background: #f1f1f1;
}

.col-padding{
    padding-top: 32px;
}

.padding-bottom-small{
    padding-bottom: 16px;

}

a,.btn-link{
    text-decoration: none;
    color: rgb(5, 92, 173);
}


a:hover, .btn-link:hover {
    color: rgb(189, 0, 38);
}

.border-radius-1{
    border-radius: 1.25rem;
}
.border-radius-2{
    border-radius: 2.25rem;
}


.links{
    font-size: 20px;
}
.button{
    border-radius: 5px;
    border: none;
    padding: 8px 16px
}
.top-margin{
    margin-top: 100px;
}
.alert{
    margin: 0px;

}
.alert-success{
    background: #8ccb8c;
    
}