<div class="bg-dark">
    <div class="container">
        <div class="row py-2">
            <div class="col-6">
                <a href="/">
                    <h2 class="text-white mb-0">Records Manager</h1>
                </a>
            </div>
            <div class="col-6 text-end mt-1">
                <div class="text-secondary">Welcome <b class="text-white">{{ current_user_name }}</b> <a
                        class="btn btn-secondary ms-4 btn-sm" href="/logoutuser">Logout</a>
                </div>
            </div>
        </div>
    </div>
</div>